<div class="blend"></div>
<section class="section">  
    <div id="blend-content"> 
        <div><img src="../../../assets/media/icons/position.png" alt=""> Location: <span>Cameroon</span></div>   
        <div><img src="../../../assets/media/icons/phone.png" alt=""> Tel: <span>(+237)680717839</span></div>
        <div><img src="../../../assets/media/icons/mail.png" alt=""> Email: <span>chelseanewhorizon@gmail.com</span></div>
    </div>
    <form action="">
        <div>
            <label for="name">name</label><br>
            <input type="text" name="" id="name" placeholder="John Doe">
        </div>
        <div>
            <label for="email">email address</label><br>
            <input type="email" name="" id="email" placeholder="johndoe@gmail.com">
        </div>
        <div>
            <label for="message">compose message</label><br>
            <textarea name="" id="message" cols="30" rows="5" placeholder="message.........."></textarea>
        </div>
        <div>
            <button id="submit" class="btn" type="submit">message <img src="../../../assets/media/icons/send.png" alt=""></button>
        </div>
    </form>
</section>
<app-media-accounts></app-media-accounts>  