<section class="section text-dark">
    <div>
        <div id="carousel-body">
            <input type="radio" name="position" />
            <input type="radio" name="position" checked />
            <input type="radio" name="position" />
            <main id="carousel">
              <div class="item"><img src="../../../assets/media/images/profile.png" alt=""></div>
              <div class="item"><img src="../../../assets/media/images/pixel-profile.jpg" alt=""></div>
              <div class="item"></div>
            </main>
            <!-- <div class="overlay"></div> -->
        </div>
        <div class="about">
            <h2 class="display-6 hd my-4">About Me</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolorem reprehenderit tempore dignissimos quidem molestiae blanditiis, autem ratione ab necessitatibus ipsa fugit quod perferendis aperiam rerum alias dolorum id provident?</p>
        </div>
    </div>
    <div class="subject text-white">
        <div>
            <h2 class="display-6 hd my-1 text-white">Summary...</h2>
            <div class="summary">
                <p>Names: <span>Chelsea Banke</span></p>
                <p>Age: <span>19yo</span></p>
                <p>Education: <span>Undergrad student</span></p>
                <p>Feild: <span>Computer Engineering</span></p>
                <p>Spaciality: <span>Web dev & data science</span></p>
                <p></p>
            </div>
        </div>
        <br>
        <div class="tools">
            <h2 class="display-6 hd my-2 text-white">Tools I Use</h2>
            <div id="tools">
                <div>HTML<img src="../../../assets/media/icons/html5.svg" alt=""></div>
                <div>CSS<img src="../../../assets/media/icons/css3.svg" alt=""></div>
                <div>JavaScript<img src="../../../assets/media/icons/icons8-javascript-logo.svg" alt=""></div>
                <div>Python<img src="../../../assets/media/icons/python.svg" alt=""></div>
                <div>Typescript<img src="../../../assets/media/icons/icons8-javascript-logo.svg" alt=""></div>
                <div>Angular<img src="../../../assets/media/icons/angularjs.svg" alt=""></div>
            </div>
        </div>
    </div>
</section>
<br><br>
<div>
    <app-media-accounts></app-media-accounts>
</div>