<section class="section">
    <app-frame path='profile.png' bdColor="#00ff222c"></app-frame>
    <div class="subject">
        <h2 class="hd">Hello World 👋️</h2>
        <h2>I'm Chelsea Banke</h2>
        <h2>A web dev and Data Scientist</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste dolores quos possimus quaerat quia ullam dolor sed nobis. Porro dicta laborum nulla repudiandae consequuntur quaerat dolore non eum in accusantium.</p>
        <div>
            <app-btn text="lets Connect &#8663;" bdColor="green" mgTop="15px" margin="5px"></app-btn>
            <app-btn text="View Resume" mgTop="15px" bdColor="green" margin="5px"></app-btn>
        </div>
    </div>
</section>
<br><br>
<p class="display-5 text-white" id="slog">Problem solving using technologies at my dispaosal is what I do ⚙️🚀️</p>
<div>
    <app-media-accounts></app-media-accounts>
</div>