<div>
    <h3 class="display-6 hd">Social Stats</h3>
    <p>Below are my realtime social media accounts info via various API's</p>
</div>
<section class="section text-dark">
    <div class="media" id="twitter-stats">
        <h4>Twitter <img src="../../../assets/media/icons/twitter.svg" alt=""></h4>
        <div class="stats tl">
            <div>Follower count: <span>10</span></div>
            <div>Following count: <span>10</span></div>
            <div>Tweets count: <span>10</span></div>
            <div>likes count: <span>10</span></div>
        </div>
        <div class="follow-link">
            <app-btn text="Follow me" bgColor="white"></app-btn>
        </div>
    </div>
    <div class="media" id="github-stats">
        <h4>GitHub <img src="../../../assets/media/icons/github.svg" alt=""></h4>
        <div class="stats">
            <div>Follower count: <span>10</span></div>
            <div>Following count: <span>10</span></div>
            <div>Repository count: <span>10</span></div>
            <div>commit count: <span>10</span></div>
            <div>PR count: <span>10</span></div>
        </div>
        <div class="follow-link">
            <app-btn text="Follow me" bgColor="white"></app-btn>
        </div>
    </div>
    <div class="media" id="linkedIn-stats">
        <h4>LinkedIn <img src="../../../assets/media/icons/linkedin.svg" alt=""></h4>
        <div class="stats tl">
            <div>Follower count: <span>10</span></div>
            <div>Following count: <span>10</span></div>
            <div>Posts count: <span>10</span></div>
        </div>
        <div class="follow-link">
            <app-btn text="Follow me" bgColor="white"></app-btn>
        </div>
    </div>
</section>
<div>
    <app-media-accounts></app-media-accounts>
</div>