<header class="text-whit">
  <div>
    <h1>
      <img src="../assets/media/images/pixel-profile.jpg" alt="" id="profile-icon"><span class="p-name">CB</span>-{{ pageTitle }}
    </h1>
  </div>
  <app-btn bdColor="green" text="Contact" icon="phone.png" mgTop="20%" id="contact" (click)="routeSwitch('contact')"></app-btn>
</header>
<section id="content">
  <div>
    <router-outlet></router-outlet>
  </div>
</section>
<nav>
  <div id="nav-bar">
    <button class="btn" id="home" (click)="routeSwitch('home')"><img src="../assets/media/icons/home.svg" alt=""></button>
    <button class="btn" id="about" (click)="routeSwitch('about')"><img src="../assets/media/icons/smile.png" alt=""></button>
    <button class="btn" id="projects" (click)="routeSwitch('projects')"><img src="../assets/media/icons/idea.svg" alt=""></button>
    <button class="btn" id="socials" (click)="routeSwitch('socials')"><img src="../assets/media/icons/links.svg" alt=""></button>
    <button class="btn theme-switch"><img src="../assets/media/icons/dark.png" alt=""></button>
  </div>
</nav>

<div class="fig" id="f1"></div>
<div class="fig" id="f2"></div>
<div class="fig" id="f3"></div>
<div class="fig" id="f4"></div>
<div class="fig" id="f5"></div>
<div class="fig" id="f6"></div>

<div class="fig2" id="f7"></div>
<div class="fig2" id="f8"></div>
<div class="fig2" id="f9"></div>
<div class="fig2" id="f10"></div>
<div class="fig2" id="f11"></div>
<div class="fig2" id="f12"></div>